/* pages/tool/tool.wxss */
.page {
    // background-image: url(https://api.ixiaowai.cn/mcapi/mcapi.php);
    // background: rgb(255, 123, 0);
    // background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnsss {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 750rpx;
        // background-color: rgb(21, 197, 159);
        flex-wrap: wrap;
        // font-size: 100rpx;


        .btn {
            margin: 20rpx;
            width: 200rpx;
            height: 200rpx;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 100rpx;
            margin-top: 50rpx;
            border-radius: 25rpx;
            background-color: #fff;
            box-shadow:5rpx 5rpx 5rpx #888888;
        }

        .icon-huanglichaxun {
            font-size: 100rpx;
            color: brown;
        }

        .almanacbtn,.getClassificationsbtn,.idiom,.daikaifa,.Clock {
            font-size: 30rpx;
            font-weight: 600;
        }

        .icon-lajifenlei {
            font-size: 100rpx;
            color: rgb(9, 122, 52);
        }

        .icon-chengyu {
            font-size: 100rpx;
            color: #d81e06;
        }

        .icon-daikaifa{
            font-size: 100rpx;
        }
        .icon-jitang{
            font-size: 100rpx;
            color: rgb(22, 201, 207);
        }
        .icon-lishishangdejintian{
            font-size: 100rpx;
            color: rgb(161, 138, 2);
        }
        .icon-jiami{
            font-size: 100rpx;
            color: rgb(44, 221, 162);
        }
        .icon-shijian{ font-size: 100rpx;}
        .icon-190{
            font-size: 100rpx;
            color: rgb(221, 44, 44);
        }
        .icon-jingmeibizhi{
            font-size: 100rpx;
            color: rgb(21, 203, 248);
        }
        .icon-bmi{
            font-size: 100rpx;
        }
    }
}